<div id = "operations"> 
    
    <input type="text"  id="ProductInputID" placeholder="Enter ProductID"> 
   <!-- <button type="submit" class="btn btn-primary"  (click)="GetProductById(ProductInputID)">Get Product By ID</button>  -->
    <!--https://stackoverflow.com/questions/41427405/navigate-to-another-page-with-a-button-in-angular-2/41427647-->
    <button (click)="gotoAddProduct()" > Add Product</button>

</div>
<div class = "dataOutput"> 
    <div class = "col-lg-12 table-responsive">
        <table class = "dataTable">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let Product of GetAll|async">
                    <td>{{Product.ProductID}}</td>
                    <td>{{Product.Name}}</td>
                    <td>{{Product.Description}}</td>
                    <td>{{Product.Price}}</td>
                    <td><button type="button" class="btn btn-danger mr-1" (click)="DeleteProduct(Product.ProductID)">Delete</button></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

